/********************************************Breadcrumb CSS ********************************************/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 145%;
}

ul.breadcrumb li + li:before {
    /*padding-right;*/
    content: "> ";
}

ul.breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #00dabb;
    text-decoration: underline;
}

.material-icons.md-house {
    font-size: 145%;
}

.icon-align {
    vertical-align: text-bottom;
}
/******************************************** Exercise Page CSS ********************************************/
.question-container {
    padding: 2%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    /*box-sizing: border-box;,*/
    /*border-width: thin;*/
    /*border-style: dotted;*/
    /*border-color: black;*/
}
@media only screen and (max-width: 768px) {
    .question-container{
        /*The only difference is the width*/
        width: 100%;
        /*box-sizing: border-box;*/
        /*border-width: thin;*/
        /*border-style: dotted;*/
        /*border-color: black;*/
    }
}
.text-container {
    /*This container just contains the text to be displayed and applies the desired formating.*/
    margin: auto; /* Center the text container */
    width: 85%;
    /*Set the text color to black*/
    color: black;
    font-size: 150%;
    /*Center the text*/
    text-align: left;
    padding: 1%;
}
@media only screen and (max-width: 768px) {
    .text-container{
        /*Slightly smaller text on smaller devices*/
        font-size: 120%;
    }
}
.title-text-container {
    /*This container just contains the text to be displayed and applies the desired formating.*/
    margin: auto; /* Center the text container */
    width: 85%;
    /*Set the text color to black*/
    color: black;
    font-size: 200%;
    /*Center the text*/
    text-align: left;
    padding: 1%;
}
@media only screen and (max-width: 768px) {
    .title-text-container{
        /*Slightly smaller text on smaller devices*/
        font-size: 150%;
    }
}
.image-container{
    display: block; /* Make the image into a block element */
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 65%;
    max-height: 65%;
    padding: 1%;
}
@media only screen and (max-width: 768px) {
    .image-container{
        max-width: 75%;
        max-height: 75%;
    }
}
.answer-container{
    /* The container for the answer form card */
    /*padding: 20px;*/
    /*padding-bottom: 0px;*/
    margin:auto;
    margin-left: 7.5%;
    /*margin-bottom: 1%;*/
    width: 100%;
    /*!*Add a shadow to the card*!*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    /*box-sizing: border-box;*/
    /*!*This gives the answer card a little bit more weight.*!*/
    /*border-color: rgba(63, 69, 159, 0.2);*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-style: dotted;*/
    /*border-color: black;*/

}
.answer-form-container{
    /*The styling for the answer form */
    margin: auto; /* Center the text container */
    /*width: 80%;*/
    max-width: 50%;
    /*padding: 20px;*/
    margin-bottom: 1%;
    /*Align answer form with text.*/
    /*margin-left: 10%;*/
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/
}
.submit-button{
    margin: 2%;
}
@keyframes answer-icon-fade-in {
    from {
        opacity: 0;
        font-size: 0;
    }
    to   {
        opacity: 1;
        font-size: 300%;
    }
}

/* Firefox < 16 */
@-moz-keyframes answer-icon-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes answer-icon-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes answer-icon-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes answer-icon-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.material-icons.md-answer-icon{
    display: inline;
    position: relative;
    font-size: 300%;
    vertical-align: middle;
    left: -3%;
}
.material-icons.md-answer-icon.correct-animation{
    /*Fades in the green check mark*/
    /*Add this to the class above? Thinking about removing the "incorrect" icon.*/
    animation-name: answer-icon-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

/******************************************** Exercise Styling CSS ********************************************/
.exercise{
    /*For Desktop*/
    /*width : 250px; */
    /*height: 200px;*/
    width: 15%;
    height: 12%;
    padding: 1%;
    margin: 1%;
    /*Adding a grey border as standard - will turn green when exercise has been completed*/
    /*border: 1px solid lightgrey;*/
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/
}
@media only screen and (max-width: 768px) {
    .exercise{
        /*For Mobile*/
        width: 75%;
        height: 75%;
        /*This centers the elements for mobile view.*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}
/*These are added on top of the standard css for the exercise buttons on the main page.*/
.exercise-completed{
    border-style: solid;
    border-width: thin;
    border-color: rgba(103,165,99, 0.60);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: rgba(103,165,99, 0.20);
}
.exercise-completed:hover{
    background: rgba(103,165,99, 0.20);
    /*Add a raised effect? For example increasing the shadows to indicate hover?*/
}
.exercise-completed:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background: rgba(103,165,99, 0.40);
}
.exercise-completed:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background: rgba(103,165,99, 0.40);
}
.exercise-started{
    border-style: solid;
    border-width: thin;
    border-color: rgba(63,123,191, 0.60); /* Adjust alpha to change the feel of the borders. */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: rgba(63,123,191, 0.20);
}
.exercise-started:hover{
    background: rgba(63,123,191, 0.20);
    /*Add a raised effect? For example increasing the shadows to indicate hover?*/
}
.exercise-started:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background: rgba(63,123,191, 0.40);
}
.exercise-started:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background: rgba(63,123,191, 0.40);
}
/*Styling for the divider containing all the exercises on the main page*/
.exercise-container{
    vertical-align: middle;
    /*padding: 2%;*/
    /*margin: auto;*/
    /*width: 100%;*/
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/
    /*Add a shadow to the card*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    /*box-sizing: border-box;*/
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/
}
.exercises-weekly-container{
    padding: 2%;
    margin: auto;
    margin-bottom: 1%;
    width: 80%;
    /*Add a shadow to the card*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    .exercises-weekly-container{
        width: 100%;
    }
}
.exercises-weekly-text-container{
    margin: 2%;
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/
    font-size: 200%;
}
@media only screen and (max-width: 768px) {
    .exercises-weekly-text-container{
        margin-left: auto;
        margin-right: auto;
        /*padding-left: 40px;*/
        width: 90%;
        font-size: 150%;
    }
}
