/********************************************Breadcrumb CSS ********************************************/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li + li:before {
    padding: 4px;
    content: ">";
}

ul.breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #00dabb;
    text-decoration: underline;
}

.material-icons.md-house {
    font-size: 24px;
}

.icon-align {
    vertical-align: text-bottom;
}
/******************************************** Exercise Page CSS ********************************************/
.question-container {
    /*Increase the margin a bit to make it look more */
    padding: 60px;
    margin: auto;
    width: 60%;
    /*Add a shadow to the card*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}
.text-container{
    /*This container just contains the text to be displayed and applies the desired formating.*/
    margin: auto; /* Center the text container */
    width: 80%;
    /*Set the text color to black*/
    color: black;
    font-size: 20px;
    /*Center the text*/
    text-align: left;
    padding: 20px;
}
.image-container{
    display: block; /* Make the image into a block element */
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 20px;
}
.answer-container{
    /* The container for the answer form card */
    padding: 40px;
    margin:auto;
    width: 60%;
    /*Add a shadow to the card*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}
.answer-form-container{
    /*The styling for the answer form */
    margin: auto; /* Center the text container */
    width: 80%;
    padding: 20px;
}
/******************************************** Exercise Styling CSS ********************************************/
.exercise{
    width : 250px; height: 200px;
    margin: 20px;
    /*Adding a grey border as standard - will turn green when exercise has been completed*/
    /*border: 2px solid lightgrey;*/
}
/*These are added on top of the standard css for the exercise buttons on the main page.*/
.exercise-completed{
    border-style: solid;
    border-width: thin;
    border-color: rgba(103,165,99, 0.60);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: rgba(103,165,99, 0.20);
}
.exercise-completed:hover{
    background: rgba(103,165,99, 0.20);
    /*Add a raised effect? For example increasing the shadows to indicate hover?*/
}
.exercise-completed:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background: rgba(103,165,99, 0.40);
}
.exercise-completed:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background: rgba(103,165,99, 0.40);
}
.exercise-started{
    border-style: solid;
    border-width: thin;
    border-color: rgba(63,123,191, 0.60); /* Adjust alpha to change the feel of the borders. */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: rgba(63,123,191, 0.20);
}
.exercise-started:hover{
    background: rgba(63,123,191, 0.20);
    /*Add a raised effect? For example increasing the shadows to indicate hover?*/
}
.exercise-started:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background: rgba(63,123,191, 0.40);
}
.exercise-started:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background: rgba(63,123,191, 0.40);
}
/*Styling for the divider containing all the xercises on the main page*/
.exercise-container{
    padding: 40px;
    margin: auto;
    width: 80%;
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/
    /*Add a shadow to the card*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    /*box-sizing: border-box;*/
}
.exercises-weekly-container{
    padding: 40px;
    margin: auto;
    /*margin-left: 10%;*/
    width: 60%;
    /*Add a shadow to the card*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}
.exercises-weekly-text-container{
    margin: auto;
    padding-left: 40px;
    font-size: 25px;
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: medium;*/

}